* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

nav {
    padding: 32px 32px;
    min-height: 80px;
    background: #111010;
    display:flex;
    box-sizing: border-box;
    border: 5px;
}
#headernav {
    justify-content: flex-end;
    display: flex;
}
nav > a {
    vertical-align: bottom;
}

nav img {
    max-height: 48px;
    background-color: white;
    align-items: first baseline;
}

nav ul {
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
}

nav ul li {
    margin-right: 20px;
}

#last-item {
    margin-right: 0px;
}

nav ul li a:link,
nav ul li a:visited {
    color: white;
}

nav ul li a:hover {
    color: rgb(229, 145, 0);
}

nav ul li a:active {
    color: rgb(92, 229, 0);
}

#current-page {
    color: aquamarine;
}
section {
    box-sizing: border-box;
    display: inline-block;

}
   footer {
    background-color: black;
    color: white;
    margin: 1px;
    padding: 35px;
    bottom: 0px;
    display: flex;
    justify-content: center;
    width: 100%;
text-align: center;
clear:both;
position: fixed;
box-sizing: border-box;
   }
   a {
    margin-right: 15px;
   }
   .floating-element {
    float: left; 
    margin-right: 15px; 
    width: 150px; 
    height: 150px; 
    background-color: rgb(130, 222, 253); 
    text-align: center;
    line-height: 50px; /
}

.content {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}
.parag-one {
border: 2px;
background-color: rgb(0, 0, 0);
margin: 5px;
color: white;

}
.floating-element2 {
    float: right; 
    margin-right: 1px; 
    width: 150px; 
    height: 150px; 
    background-color: rgb(130, 222, 253); 
    text-align: center;
    line-height: 50px; /
}
.dropdown {
    position: relative;
}

#services-menu {
    position: absolute;
    top: 125%;
    left: 0px;
    z-index: 2;
    padding-left: 16px;
    background-color: #252525;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-2vh);
    transition: opacity 0.3s, transform 0.15s;
    flex-direction: column;
}

#services-menu a {
    display: flex;
    white-space: nowrap;
    padding-top: 8px;
    padding-bottom: 8px;
}

.dropdown:hover #services-menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}
.flex-container {
    display: flex;
    flex-direction: column;
    flex: 0;
    background-color: #e4f7e1;
    padding: 10px;
    width: 100%;
    border-radius: 8px;
    margin: 10px;
    margin-right: 10px;
    margin-left: 10px;
    height: 500px;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.flex-item {
    flex: 1;
    margin: 5px;
    background-color: #cbe3fa;
    text-align: center;
    padding: 100px;
    border: 1px solid #ccc;
}

.row-single {
    display: flex;
    margin-bottom: 10px;
    justify-content: center;
}

.row-single .flex-item {
    width: 100%;
}
#navtwo {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    box-sizing: border-box;
    position: relative;
}
.main-containertt {
    display: flex;
    height: 100vh;
    
}

.menu-containertt {
    display: flex;
    flex-direction: column;
    background-color: #94ffc4;
    width: 200px;
    padding: 10px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    margin-right:10px ;
}

.menu-itemtt {
    margin: 10px 0;
    padding: 10px;
    background-color: #7cbdff;
    border-radius: 5px;
    text-align: center;
    margin: 2px color=black;
}

.image-containertt { 
    display: flex;
    width: 90%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 10px;
    background-color: #94ffc4;
}

.image-containertt img {
    width: 250px;
    height: 250px;
    max-width: 250px;
    max-height: 250px;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-right: 25px;
}
.image-container img:nth-child(1),
.image-container img:nth-child(2),
.image-container img:nth-child(3),
.image-container img:nth-child(4) {
    margin-bottom: 10px;
}

